<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QADB_Entities" connectionString="metadata=res://*/Entities.QA_Automation_Test_POC.csdl|res://*/Entities.QA_Automation_Test_POC.ssdl|res://*/Entities.QA_Automation_Test_POC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOSSQL004DP\DEV;initial catalog=QA_Automation_Test_POC;user id=QA_Automation_Test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>